.container p {
    text-align: justify;
}

.author p {
    text-align: center;
}

.author p img {
    border-radius: 50%;
}

.sharing {
    text-align: center;
}

.btn-primary {
    background-color: #000;
}

.btn-primary:hover {
    background-color: #333;
}

footer p.copyright {
    text-align: center;
}
